<header class="pb-4">
    <app-nav-bar></app-nav-bar>
</header>

<form class="text-center border border-light text-center mt-5 p-5 col-md-8 col-sm-12 mx-auto" [formGroup]="creationForm" (click)="postUser()">

    <p class="h4 mb-4">Inscription</p>

    <div class="form-row mb-4">
        <div class="col">
            <input type="text" id="firstName" name="firstName" formControlName="firstName" class="form-control" placeholder="Prenom">
        </div>
        <div class="col">
            <input type="text" id="lastName" name="lastName" formControlName="lastName" class="form-control" placeholder="Nom">
        </div>
    </div>

    <input type="email" id="defaultRegisterFormEmail" id="email" name="email" formControlName="email" class="form-control mb-4" placeholder="E-mail">
    <input type="password" id="defaultRegisterFormPassword" class="form-control" id="password" name="password" formControlName="password" placeholder="Mot de passe" aria-describedby="defaultRegisterFormPasswordHelpBlock">

    <button class="btn btn-info my-3 btn-block w-50 mx-auto btn-danger" type="submit">S'inscrire</button>

</form>
