<h2 class="text-center mt-5">Colocataires en ce moment sur Coloc UP</h2>

<!-- <ul *ngFor="let colocataire of getColocataire$ | async">
    <li>{{ colocataire.firstName }}</li>
    <li>{{ colocataire.lastName }}</li>
    <li>{{ colocataire.email }}</li>
    <img [src]="imagePath + colocataire.image" alt="{{ colocataire.firstName }}"" height="200" width="200">
</ul> -->

<div class="container">
    <div class="row text-center">
        <div class="card col-md-3 col-sm-10 mx-auto" *ngFor="let colocataire of getColocataire$ | async">
            <div class="view overlay">
                <a href="#!">
                    <img class="card-img-top" [src]="imagePath + colocataire.image" alt="{{ colocataire.firstName }}" height="200" width="200">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            
            <div class="card-body">
                
                <!-- Title -->
                <h4 class="card-title">{{ colocataire.firstName }} {{ colocataire.lastName }}</h4>
                
                <a href="#" class="btn btn-primary">Contacter {{ colocataire.firstName }}</a>
            </div>
        </div>
    </div>
</div>
