<header class="pb-4">
    <app-nav-bar></app-nav-bar>
</header>

<form class="text-center border border-light text-center mt-5 p-5 col-md-8 col-sm-12 mx-auto" [formGroup]="creationForm" (click)="userLogin()">
    <p class="h4 mb-4">Connexion</p>

    <!-- Email -->
    <input type="email" id="email" name="email" formControlName="email" class="form-control mb-4" placeholder="Email">

    <!-- Password -->
    <input type="password" id="password" name="password" formControlName="password" class="form-control mb-4" placeholder="Mot de passe">

    <div class="d-flex justify-content-around">
            <a href="">Mot de passe oublier ?</a>
    </div>
        
    <button class="btn btn-info btn-block my-3 w-50 mx-auto btn-danger" type="submit">Se connecter</button>
</form>
