<h2 class="text-center mt-5">Choisissez l'option qui vous correspond
</h2>

<div class="container mt-3">
    <div class="row text-center">
    <div class="card mb-4 shadows col-lg-4 col-md-6 col-sm-10 mx-auto">
        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="../../../assets/img/card-main-part1/trouverunechambre.jpg"
                alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">
            <h4 class="card-title">Trouver une chambre</h4>
            <p class="card-text">Créez votre profil, décrivez rapidement votre recherche et rajoutez une description FUN et complète de vous.</p>
            <button type="button" class="btn btn-light-blue btn-md">Trouver une chambre</button>

        </div>

    </div>

    <div class="card mb-4 shadows col-lg-4 col-md-6 col-sm-10 mx-auto">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="../../../assets/img/card-main-part1/formerungroupe1.jpg"
                alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">
            <h4 class="card-title">Former un groupe</h4>
            <p class="card-text">Marre de chercher seul ? Trouvez des amis sur Coloc UP pour vous aider à dénicher votre futur logement !</p>
            <button type="button" class="btn btn-light-blue btn-md">Former un groupe</button>

        </div>

    </div>

    <div class="card mb-4 shadows col-lg-4 col-md-6 col-sm-10 mx-auto">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="../../../assets/img/card-main-part1/proposerunlogement.jpg"
                alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">
            <h4 class="card-title">Proposer un logement</h4>
            <p class="card-text">Publiez une chambre ou un logement sur Coloc UP et sélectionnez des locataires qui correspondent à vos critères.</p>
            <button type="button" class="btn btn-light-blue btn-md">Proposer un logement</button>

        </div>
    </div>


    </div>
</div>