@import url('https://fonts.googleapis.com/css?family=Pacifico|Sunshiney&display=swap');

/* param generaux */
a {
	text-decoration: none;
}

li {
	list-style: none;
}

li > a {
	font-weight: 400;
}
.nav-link:hover {
	font-weight: 400;
}
/* icone burger */
.navbar-toggler-icon {
	color: black;
	font-size: 1.5em;
	margin-top: 15px;
}

/* NAV */
nav {
	box-shadow: 4px 4px 5px rgb(188, 188, 209, 0.6);
	padding: 15px 0;
}
.main-nav {
	background-color: rgb(255, 255, 255) !important;
}

.nav-link {
	color: rgb(0, 0, 0) !important;
	font-weight: 400;
	font-size: 1.1em;
}

.navbar-brand {
	color: #ff0000;
	font-weight: bolder;
	font-size: 1.4em;
}

.navbar-brand:hover {
	font-size: 1em;
	font-weight: bolder;
}

.navbar-brand:hover {
	color: #e91818;
	font-weight: bolder;
	font-size: 1.3em;
	transition: 0.3;
}

ul > li {
	margin: 0 10px;
}

#navbarNav {
	justify-content: flex-end !important;
}

.logo {
	border-radius: 5px;
}

@media screen and (max-width: 768px) {
	nav {
		text-align: center;
	}

	ul {
		margin: 0 !important;
	}
}
