<nav
  class="navbar navbar-expand-md navbar-dark bg-dark fixed-top main-nav"
  id="main-nav"
>
  <a class="navbar-brand ml-5" routerLink="/">Coloc UP</a>
  <button
    class="navbar-toggler pourcolor"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span><i class="fas fa-bars navbar-toggler-icon"></i></span>
  </button>
  <div class="collapse navbar-collapse container-items-nav" id="navbarNav">
    <ul class="navbar-nav mr-5">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Je suis propriétaire</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Inscription</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Connexion</a>
      </li>

      <button type="button" class="btn btn-danger mx-auto">
        Publier votre annonce
      </button>
    </ul>
  </div>
</nav>
