<header>
    <app-nav-bar></app-nav-bar>
    <app-background-searchbar></app-background-searchbar>
</header>

<main>
    <app-part1></app-part1>
    <app-part2></app-part2>
    <app-part3></app-part3>
</main>